<!-- orders.component.html -->
<div class="container">
    <h2>Lista de Pedidos</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre del Cliente</th>
          <th>Email</th>
          <th>Total</th>
          <th>Código de Pedido</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
     

            @for (order of orders; track $index) {

   <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.customerName }}</td>
                <td>{{ order.email }}</td>
           
                <td>{{ order.total | currency }}</td>
                <td>{{ order.orderCode }}</td>
                <td>{{ order.timestamp | date:'short' }}</td>

  </tr>
            }


      
      </tbody>
    </table>
  </div>
  